body {
    background: hsl(257, 40%, 49%) url(../images/bg-desktop.svg) no-repeat center/cover;
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
}

.cabecalho {
    height: 15vh;
    display: flex;
    margin: 1rem 0;
}

.cabecalho .logo {
    width: 200px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.mockups img {
    width: 100%;
    min-width: 500px;
}

.conteudo-principal .informacoes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #ffffff;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    max-width: 40%;
}

.conteudo-principal .informacoes h1 {
    font-size: 3vw;
}


.conteudo-principal .informacoes button {
    align-self: flex-start;
    padding: 1rem 4rem;
    border-radius: 10rem;
    font-size: 1rem;
    font-weight: 500;
    color: hsl(257, 40%, 49%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.rodape .social {
    display: flex;
    font-size: 1rem;
    justify-content: end;
    align-items: baseline;
    padding: 0 1.5rem;
}

.rodape .social i {
    color: #ffffff;
    padding: .8rem;
    border: 2px solid #ffffff;
    border-radius: 50px;
    margin: 0 1rem;
}

.rodape .social .fa-facebook-f {
    padding: .8rem 1rem;
}

@media (max-width: 768px) {

    body {
        background: hsl(257, 40%, 49%) url(../images/bg-mobile.svg) no-repeat center/cover;
        background-repeat: no-repeat;
        margin: 0 2rem;
        gap: 1rem;
    }

    .cabecalho .logo {
        width: 120px;
        padding: 0;
    }

    .conteudo-principal {
        flex-direction: column;
    }

    .conteudo-principal .informacoes {
        max-width: 100%;
        align-items: center;
        text-align: center;
    }

    .mockups img {
        min-width: 100%;
    }

    .conteudo-principal .informacoes h1 {
        font-size: 1.5rem;
    }

    .conteudo-principal .informacoes button {
        align-self: center;
        padding: .8rem 4rem;
    }

    .rodape {
        align-self: center;
        margin-top: 2rem;
    }

    .rodape .social i {
        font-size: 0.8rem;
        padding: .4rem;
        margin: 0 .5rem;
    }

    .rodape .social .fa-facebook-f {
        padding: .4rem .5rem;
    }

}